<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Login</span>
        </v-card-title>
        <span v-if="failedLogin" style="color: red; margin-left: 15px;">Password or email is wrong!</span>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  v-model="userData.username"
                  label="Email*"
                  required
                  :error-messages="emailErrors"
                  @input="$v.userData.username.$touch()"
                  @blur="$v.userData.username.$touch()"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                  v-model="userData.password"
                  label="Password*"
                  type="password"
                  required
                  :error-messages="passwordErrors"
                  @input="$v.userData.password.$touch()"
                  @blur="$v.userData.password.$touch()"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="blue darken-1"
            flat
            @click="changeDialog(); resetForm(); $v.$reset(); failedLogin = false"
          >Cancel</v-btn>
          <v-btn color="blue darken-1" flat @click="submit">Log In</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    userData: {
      username: { required, email },
      password: { required }
    }
  },
  data() {
    return {
      userData: {
        username: null,
        password: null
      },
      failedLogin: false
    };
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (!this.$v.userData.$invalid) {
        this.loginUser();
        this.$v.$reset();
      }
    },
    ...mapActions("user", {
      changeDialog: "changeLoginDialog",
      changeUser: "changeUser",
      changeLoggedIn: "changeLoggedIn"
    }),
    ...mapActions("boards", { fetchBoards: "fetchBoards" }),
    resetForm() {
      this.userData.username = null;
      this.userData.password = null;
    },
    getBoards() {
      fetch(process.env.baseUrl + "boards/retrieve", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          username: this.currentUser.username
        })
      })
        .then(response => response.json())
        .then(data => {
          // console.log(data);
          this.fetchBoards({ boards: data.content.boards });
        })
        .catch(error => console.log(error));
    },
    loginUser() {
      fetch(process.env.baseUrl + "users/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.userData)
      })
        .then(response => response.json())
        .then(data => {
          // console.log(data);
          this.changeDialog();
          this.failedLogin = false;
          this.resetForm();
          this.changeUser({ data: data.message });
          this.getBoards();
          this.changeLoggedIn(true);
        })
        .catch(error => {
          console.log(error);
          this.failedLogin = true;
        });
    }
  },
  computed: {
    ...mapState("user", { dialog: "loginDialog", currentUser: "currentUser" }),
    emailErrors() {
      const errors = [];
      if (!this.$v.userData.username.$dirty) return errors;
      !this.$v.userData.username.email && errors.push("Must be valid e-mail");
      !this.$v.userData.username.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.userData.password.$dirty) return errors;
      !this.$v.userData.password.required &&
        errors.push("Password is required");
      return errors;
    }
  }
};
</script>
