<template>
  <nav>
    <v-toolbar flat dark color="blue-grey lighten-1">
      <v-toolbar-side-icon class="hidden-md-and-up" @click.stop="drawer = !drawer"/>
      <nuxt-link to="/">
        <img src="../../assets/images/logo.png" alt="logo">
      </nuxt-link>
      <v-spacer/>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>
          <nuxt-link to="/">Home</nuxt-link>
        </v-btn>
        <v-btn v-if="!loggedIn" flat @click="changeSignupDialog">Signup</v-btn>
        <v-btn v-if="!loggedIn" flat @click="changeLoginDialog">Login</v-btn>
        <v-btn v-if="loggedIn" flat @click="logoutUser">Logout</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list>
        <v-list-tile
          @click="$router.push({path: '/'})"
        >
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-if="!loggedIn"
          @click="changeLoginDialog();"
        >
          <v-list-tile-content>
            <v-list-tile-title>Login</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-if="!loggedIn"
          @click="changeSignupDialog();"
        >
          <v-list-tile-content>
            <v-list-tile-title>Signup</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-if="loggedIn"
          @click="logoutUser();"
        >
          <v-list-tile-content>
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      drawer: null,
    };
  },
  computed: {
    ...mapState('user', ['loggedIn'])
  },
  methods: {
    logoutUser() {
      this.$router.push({path: '/'});
      fetch(process.env.baseUrl + "users/logout")
        .then(response => response.json())
        .then(data => {
          // console.log(data);
          this.changeLoggedIn(false);
          this.changeUser({});
          this.fetchBoards({ boards: [] });

        })
        .catch(error => console.log(error));
    },
    ...mapActions("user", {
      changeSignupDialog: "changeSignupDialog",
      changeLoginDialog: "changeLoginDialog",
      changeUser: "changeUser",
      changeLoggedIn: 'changeLoggedIn'
    }),
    ...mapActions("boards", ["fetchBoards"])
  }
};
</script>

<style scoped>
img {
  height: 70px;
  width: auto;
}
div > a {
  text-decoration: none;
  color: white;
}
</style>

