<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Signup</span>
        </v-card-title>
        <span
          v-if="failedRegistration"
          style="color: red; margin-left: 15px;"
        >A user with that email already exists!</span>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md6>
                <v-text-field
                  v-model="userData.firstName"
                  label="First name*"
                  required
                  :error-messages="firstNameErrors"
                  @input="$v.userData.firstName.$touch()"
                  @blur="$v.userData.firstName.$touch()"
                />
              </v-flex>
              <v-flex xs12 sm6 md6>
                <v-text-field v-model="userData.lastName" label="Last name" required/>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userData.username"
                  label="Email*"
                  required
                  @input="$v.userData.username.$touch()"
                  @blur="$v.userData.username.$touch()"
                  :error-messages="emailErrors"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userData.password"
                  label="Password*"
                  type="password"
                  :error-messages="passwordErrors"
                  @input="$v.userData.password.$touch()"
                  @blur="$v.userData.password.$touch()"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="blue darken-1"
            flat
            @click="changeDialog(); resetForm(); $v.$reset(); failedRegistration = false"
          >Cancel</v-btn>
          <v-btn color="blue darken-1" flat @click="submit()">Sign Up</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    userData: {
      username: { required, email },
      password: { required },
      firstName: { required }
    }
  },
  data() {
    return {
      userData: {
        firstName: null,
        lastName: null,
        username: null,
        password: null
      },
      failedRegistration: false
    };
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (!this.$v.userData.$invalid) {
        this.registerUser();
      }
    },
    ...mapActions("user", {
      changeDialog: "changeSignupDialog",
      changeUser: "changeUser",
      changeLoggedIn: "changeLoggedIn"
    }),
    resetForm() {
      this.userData.username = null;
      this.userData.firstName = null;
      this.userData.lastName = null;
      this.userData.password = null;
    },
    registerUser() {
      fetch(process.env.baseUrl + "users/signup", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.userData)
      })
        .then(response => response.json())
        .then(data => {
          if (data.err) {
            this.failedRegistration = true;
          } else {
            // console.log(data);
            this.changeDialog();
            this.resetForm();
            this.failedRegistration = false;
            this.$v.$reset();
            this.changeUser({ data: data.message });
            this.changeLoggedIn(true);
          }
        })
        .catch(error => {
          console.log(error);
          this.failedRegistration = true;
        });
    }
  },
  computed: {
    ...mapState("user", { dialog: "signupDialog" }),
    emailErrors() {
      const errors = [];
      if (!this.$v.userData.username.$dirty) return errors;
      !this.$v.userData.username.email && errors.push("Must be valid e-mail");
      !this.$v.userData.username.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.userData.password.$dirty) return errors;
      !this.$v.userData.password.required &&
        errors.push("Password is required");
      return errors;
    },
    firstNameErrors() {
      const errors = [];
      if (!this.$v.userData.firstName.$dirty) return errors;
      !this.$v.userData.firstName.required &&
        errors.push("First name is required");
      return errors;
    }
  }
};
</script>
