<template>
  <v-list two-line>
    <!-- New list item loop -->
    <draggable
      style="min-height: 15px;"
      v-model="myBoards"
      :options="{group:'name'}"
      @start="drag=true"
      @end="drag=false"
    >
      <template v-for="(card, cardIndex) in list.cards">
        <v-list-tile
          :key="card.title"
          @click="removeCard({ listIndex, boardIndex, cardIndex }); saveOnServer()"
          @dragend.native="saveOnServer()"
        >
          <v-list-tile-content>
            <v-list-tile-title v-html="card.title"/>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </draggable>
  </v-list>
</template>

<script>
import { mapActions, mapState } from "vuex";
import draggable from "vuedraggable";
import saveOnServer from '../mixins/saveOnServer';

export default {
  components: {
    draggable
  },
  props: ["boardIndex", "listIndex", "list"],
  methods: {
    ...mapActions("boards", ["removeCard"])
  },
  computed: {
    // Vue draggable
    myBoards: {
      get() {
        return this.$store.state.boards.boards[this.boardIndex].lists[
          this.listIndex
        ].cards;
      },
      set(value) {
        this.$store.commit("boards/updateList", {
          value,
          boardIndex: this.boardIndex,
          listIndex: this.listIndex
        });
      }
    },
    ...mapState("user", { currentUser: "currentUser" }),
    ...mapState("boards", ["boards"])
  },
  mixins: [saveOnServer]
};
</script>

