<template>
  <v-footer
    dark
    color="blue-grey lighten-1 text-xs-center">
    <v-layout justify-center>
    &copy;{{ new Date().getFullYear() }} Dilshan Kelsen
    </v-layout>
  </v-footer>
</template>
