<template>
  <v-app>
    <app-navbar/>
      <app-login/>
      <app-signup/>
      <nuxt/>
    <app-footer/>
  </v-app>
</template>

<script>
import Navbar from "../components/navbar/Navbar.vue";
import Footer from "../components/Footer.vue";
import Signup from '../components/navbar/SignUp.vue';
import Login from '../components/navbar/Login.vue';

export default {
  components: {
    'app-navbar': Navbar,
    'app-footer': Footer,
    'app-signup': Signup,
    'app-login': Login
  }
};
</script>
