<template>
  <v-container fluid grid-list-lg v-if="currentBoardIndex != -1">
    <v-breadcrumbs :items="items">
      <v-icon slot="divider">chevron_right</v-icon>
    </v-breadcrumbs>
    <v-layout row wrap>
      <!-- New card loop -->
      <v-flex xs12 sm4 md3 v-for="(list, listIndex) in currentBoard.lists" :key="list.keyHeading">
        <!-- {{ list }} -->
        <v-card color="grey lighten-3">
          <v-card-title primary-title>
            <!-- Change list title -->
            <v-text-field
              :value="getListHeading({ boardIndex: currentBoardIndex, listIndex })"
              @input="changeListHeading({ event: $event, boardIndex: currentBoardIndex, listIndex })"
              v-if="list.renameListTitle"
              :append-icon="'check_circle'"
              @click:append="changeRenameListTitle({ listIndex, boardIndex: currentBoardIndex }); saveOnServer()"
            ></v-text-field>
            <h3 v-if="!list.renameListTitle">{{ list.heading }}</h3>
            <v-spacer/>
            <!-- Dropdown menu -->
            <v-menu offset-y>
              <button slot="activator" class="buttonOutline">
                <v-icon>more_horiz</v-icon>
              </button>
              <v-list>
                <v-list-tile
                  @click="deleteList({ listIndex, boardIndex: currentBoardIndex }); saveOnServer()"
                >
                  <v-list-tile-title>Delete</v-list-tile-title>
                </v-list-tile>
                <v-list-tile
                  @click="changeRenameListTitle({ listIndex, boardIndex: currentBoardIndex })"
                >
                  <v-list-tile-title>Rename</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-card-title>
          <app-cards :boardIndex="currentBoardIndex"
            :listIndex="listIndex"
            :list="list"
            :boards="boards"/>
          <!-- Enter new card title: text field -->
          <v-text-field
            label="New Card"
            box
            flat
            class="textField"
            v-if="list.enterCardTitle"
            @input="writeCardTitle({ event: $event, boardIndex: currentBoardIndex, listIndex })"
          />
          <!-- Enter new card title: buttons -->
          <v-card-actions>
            <v-btn
              class="indigo lighten-4"
              @click="enterTitle({ boardIndex: currentBoardIndex, listIndex })"
              flat
              v-if="!list.enterCardTitle"
            >
              <v-icon>add</v-icon>Add card
            </v-btn>
            <v-btn
              class="indigo lighten-4"
              @click="enterTitle({ boardIndex: currentBoardIndex, listIndex });
              addCard({ boardIndex: currentBoardIndex, listIndex });
              saveOnServer()"
              flat
              v-if="list.enterCardTitle"
            >Confirm</v-btn>
            <!-- Cancel Button -->
            <button
              class="cancelButton buttonOutline"
              @click="enterTitle({ boardIndex: currentBoardIndex, listIndex })"
              flat
              v-if="list.enterCardTitle"
            >
              <v-icon>clear</v-icon>
            </button>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- Add new list -->
      <v-flex xs12 sm4 md3>
        <v-card color="grey lighten-3">
          <v-text-field label="New List" box flat class="textField" v-model="newList"/>
          <v-btn
            absolute
            dark
            fab
            bottom
            right
            color="indigo lighten-4"
            @click="addList({ boardIndex: currentBoardIndex, newList }); newList = null; saveOnServer()"
          >
            <v-icon>add</v-icon>
          </v-btn>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
import Cards from '../../components/Cards';
import saveOnServer from '../../mixins/saveOnServer';

export default {
  components: {
    'app-cards': Cards
  },
  data() {
    return {
      newList: null,
      // breadcrumbs
      items: [
        {
          text: 'Dashboard',
          disabled: true,
          href: ''
        },
        {
          text: this.$route.params.id,
          disabled: true,
          href: ''
        },
      ]
    };
  },
  computed: {
    ...mapState("boards", { boards: "boards" }),
    ...mapState("user", { currentUser: "currentUser" }),
    currentBoardIndex() {
      return this.boards.map(obj => obj.title).indexOf(this.$route.params.id);
    },
    ...mapGetters(
      "boards",
      // V-model for list heading
      ["getListHeading"]
    ),
    currentBoard() {
      return this.boards[this.currentBoardIndex];
    }
  },
  methods: {
    ...mapActions("boards", [
      "addList",
      "deleteList",
      "changeRenameListTitle",
      // V-model for list title
      "changeListHeading",
      "enterTitle",
      "addCard",
      "writeCardTitle"
    ])
  },
  mixins: [saveOnServer]
};
</script>

<style scoped>
.buttonOutline:focus {
  outline: none;
}
.cancelButton {
  padding-left: 10px;
}
.theme--light.v-messages {
  display: none;
}
</style>
