<template>
  <v-container grid-list-xl>
    <v-layout justify-center>
      <v-flex xs12 sm6>
        <div>
          <v-alert
            v-model="alert"
            dismissible
            color="info"
            icon="info"
            :value="true"
            outline
          >Create an account to save your projects!</v-alert>
        </div>
      </v-flex>
    </v-layout>
    <v-layout justify-center>
      <v-flex xs12 sm6>
        <h3 class="headline text-xs-center">Create A New Board!</h3>
      </v-flex>
    </v-layout>
    <v-layout justify-center>
      <v-flex xs12 sm6 md5>
        <v-card>
          <v-toolbar flat color="grey lighten-3">
            <!-- Search Bar -->
            <v-text-field
              v-model="search"
              class="mx-3"
              flat
              label="Search"
              prepend-inner-icon="search"
            ></v-text-field>
          </v-toolbar>
          <!-- Existing Projects Loop -->
          <v-list subheader>
            <template v-for="(board, boardIndex) in filteredBoards">
              <v-list-tile :key="board.keyTitle" @click="''">
                <v-list-tile-content>
                  <nuxt-link :to="{ name:'id', params: { id: board.title }}">
                    <v-list-tile-title v-html="board.keyTitle"></v-list-tile-title>
                  </nuxt-link>
                </v-list-tile-content>
                <!-- Dropdown menu -->
                <v-menu offset-y>
                  <button slot="activator" class="buttonOutline">
                    <v-icon>more_horiz</v-icon>
                  </button>
                  <v-list>
                    <v-list-tile @click="deleteBoard({ boardIndex }); saveOnServer()">
                      <v-list-tile-title>Delete</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-list-tile>
              <v-divider :key="boardIndex"></v-divider>
            </template>
            <!-- Create Project -->
          </v-list>
          <v-flex xs12 pb-0>
            <v-text-field
              v-model="newBoardTitle"
              label="Enter Title"
              :append-icon="'check_circle'"
              @click:append="createBoard({ newBoardTitle: newBoardTitle }); newBoardTitle = null; saveOnServer()"
              solo
            />
          </v-flex>
        </v-card>
        <!-- {{ currentUser }}
        {{ boards }} -->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import saveOnServer from "../mixins/saveOnServer";

export default {
  data() {
    return {
      newBoardTitle: null,
      search: ""
    };
  },
  computed: {
    ...mapState("boards", { boards: "boards" }),
    ...mapState("user", { currentUser: "currentUser" }),
    filteredBoards: function() {
      return this.boards.filter(board => {
        return board.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    alert: {
      get() {
        if (this.currentUser == null) {
          return true;
        } else {
          return false;
        }
      },
      set() {
        return false;
      }
    }
  },
  methods: {
    ...mapActions("boards", ["createBoard", "deleteBoard"])
  },
  mixins: [saveOnServer]
};
</script>

<style scoped>
div > a {
  text-decoration: none;
  color: black;
}
.buttonOutline:focus {
  outline: none;
}
</style>
